.cover {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.5;
  background-color: #2d2939;
  z-index: 11 -1; }

.modal {
  position: absolute;
  width: 510px;
  z-index: 11;
  background-color: white;
  box-shadow: 0 0 15px #2d2939; }
  .modal .header {
    padding: 20px;
    background-color: #ededed;
    border-bottom: 2px dashed lightgrey; }
    .modal .header .title {
      font-size: 150%;
      font-weight: bold; }
  .modal .content {
    padding: 20px; }
  .modal .buttons {
    margin-top: 40px;
    text-align: right; }
  .modal .cancel {
    margin-right: 20px;
    color: #888888;
    vertical-align: middle;
    cursor: pointer; }
    .modal .cancel:hover {
      text-decoration: underline; }

.button {
  display: inline-block;
  vertical-align: middle;
  border: 1px solid lightgrey;
  background-color: #6b63d9;
  padding: 10px 20px;
  color: white;
  cursor: pointer; }
  .button:hover {
    background-color: #928ce3; }

form .row {
  margin-bottom: 10px;
  overflow: hidden;
  padding: 5px; }
  form .row label {
    width: 145px;
    margin: 2px 20px 0 0;
    font-weight: bold;
    float: left; }
  form .row .field {
    float: left;
    width: 290px; }
    form .row .field div {
      border: 1px solid lightgrey;
      padding: 5px; }
      form .row .field div input,
      form .row .field div textarea {
        width: 100%;
        border: none;
        outline: none; }
      form .row .field div textarea {
        height: 18.2 px; }
    form .row .field.focus div {
      border: 1px solid #b9b5ed;
      box-shadow: 0 0 3px #b9b5ed; }
    form .row .field.error div {
      border: 1px solid #ae3256;
      box-shadow: 0 0 3px #ae3256; }
    form .row .field.focus.error div {
      border: 1px solid #b373a1;
      box-shadow: 0 0 3px #b373a1; }
    form .row .field p.error {
      display: none;
      margin-top: 5px;
      color: #ae3256; }
    form .row .field.error p.error {
      display: block; }

body {
  color: black;
  font: 14px/1.3 Arial, sans-serif;
  margin: 0;
  padding: 0; }

p {
  margin: 0; }

body > section {
  background-color: #ededed; }

.top-bar {
  background-color: #2d2939;
  overflow: hidden;
  color: white; }
  .top-bar .wrap {
    width: 1000px;
    margin: 0 auto; }
    .top-bar .wrap .logo {
      float: left;
      margin: 20px; }
      .top-bar .wrap .logo span {
        font-size: 200%;
        font-weight: bold;
        color: #e2bef9; }
    .top-bar .wrap .actions {
      float: right;
      list-style: none; }
      .top-bar .wrap .actions li {
        display: inline-block;
        margin-right: 20px;
        vertical-align: middle; }
        .top-bar .wrap .actions li a {
          display: block;
          padding: 10px;
          background-color: #e2bef9;
          color: black;
          cursor: pointer; }
          .top-bar .wrap .actions li a:hover {
            background-color: white; }

.pages {
  width: 1000px;
  margin: 0 auto;
  padding: 40px 0;
  background-color: white;
  min-height: 500px;
  border-left: 1px solid #ededed;
  border-right: 1px solid #ededed;
  box-shadow: 0 0 10px #2d2939; }
  .pages .page-not-found {
    display: none;
    border: 1px solid #888888;
    margin: 0 40px;
    padding: 40px; }
  .pages.not-found .page-not-found {
    display: block; }
